/*
 * Kokoro (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Kokoro';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Kokoro-Regular.ttf) format('truetype');
}
