/*
 * Nico Moji (Japanese) https://fonts.google.com/earlyaccess
 */
 @font-face {
  font-family: 'Nico Moji';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NicoMoji-Regular.ttf) format('truetype');
}
